<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="/ubooks/common/header :: headFragment"></th:block>

<!-- kakao - daum 우편번호 서비스 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" th:src="@{/js/ubooks/checkout.js}"></script>
<body id="body">
<!-- Start Top Header Bar -->
<th:block th:replace="/ubooks/common/top :: headTop"></th:block>
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Checkout</h1>
					<ol class="breadcrumb">
						<li><a href="/index">Home</a></li>
						<li class="active">checkout</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title">배송 정보</h4>
                  <form class="checkout-form">
                     <div class="form-group">
                        <label for="full_name">아이디</label>
                        <input th:if="${session.memberId == null}" type="text" class="form-control" id="full_name" placeholder="">
                        <input th:unless="${session.memberId == null}" type="text" class="form-control" id="full_name" placeholder="" th:value="${session.memberId}" disabled>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="user_post_code">우편번호</label>
                           <input type="text" class="form-control" id="postcode" name="postcode" value="" onclick="execDaumPostcode()">
                        </div>
                        <div class="form-group" >
                           <label for="user_city">주소</label>
                           <input type="text" class="form-control" id="address" name="address" value="" onclick="execDaumPostcode()">
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group" >
                           <label for="user_city">참고항목</label>
                           <input type="text" class="form-control" id="extraAddress" name="extraAddress" value="" onclick="execDaumPostcode()">
                        </div>
                        <div class="form-group">
                           <label for="user_post_code">상세주소</label>
                           <input type="text" class="form-control" id="detailAddress" name="detailAddress" value="">
                        </div>
                     </div>
                  </form>
               </div>
               <div class="block">
                  <h4 class="widget-title">결제 정보</h4>
                  <p>신용카드 상세 (Secure payment)</p>
                  <div class="checkout-product-details">
                     <div class="payment">
                        <div class="card-details">
                           <form  class="checkout-form">
                              <div class="form-group">
                                 <label for="card-number">카드번호 <span class="required">*</span></label>
                                 <input id="card-number" class="form-control"   type="tel" placeholder="•••• •••• •••• ••••" maxlength="19">
                              </div>
                              <div class="form-group half-width padding-right">
                                 <label for="card-expiry">유효기간 (MM/YY) <span class="required">*</span></label>
                                 <input id="card-expiry" class="form-control" type="tel" placeholder="MM / YY" maxlength="5">
                              </div>
                              <div class="form-group half-width padding-left">
                                 <label for="card-cvc">CVC코드 <span class="required">*</span></label>
                                 <input id="card-cvc" class="form-control"  type="tel" maxlength="3" placeholder="CVC">
                              </div>
                              <a href="#!" id="orderProducts" class="btn btn-main mt-20">주문하기</a >
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="product-checkout-details">
                  <div class="block">
                     <h4 class="widget-title">주문 상세</h4>
                     <div th:each="list : ${checkoutProducts}" class="media product-card" th:id="${list.book_id}">
                        <a class="pull-left" th:href="|/complete-works/${list.book_id}|">
                           <img class="media-object" th:src="|@{${#strings.arraySplit(list.images,'|')[0]}}|" alt="Image" />
                        </a>
                        <div class="media-body">
                           <h4 class="media-heading"><a th:href="|/complete-works/${list.book_id}|" th:text="${list.title}">Ambassador Heritage 1921</a></h4>
                           <p class="price"><th:block th:text="|${list.qty} x ₩${#numbers.formatInteger(list.price, 0, 'DEFAULT')}|"></th:block></p>
                           <p class="price"><th:block th:text="|배송비: ₩${#numbers.formatInteger(list.shipping_fee, 0, 'DEFAULT')}"></th:block></p>
                           <span class="remove removeProduct" th:id="|remove_${list.book_id}|" >Remove</span>
                        </div>
                        <input th:id="|price-${list.book_id}|" type="hidden" th:value="${list.price}" />
                        <input th:id="|qty-${list.book_id}|" type="hidden" th:value="${list.qty}" />
                        <input th:id="|shippingFee-${list.book_id}|" type="hidden" th:value="${list.shipping_fee}" />
                     </div>
                     <div class="discount-code">
                        <p>Have a discount ? <a data-toggle="modal" data-target="#coupon-modal" href="#!">enter it here</a></p>
                     </div>
                     <ul class="summary-prices">
                        <li>
                           <span>소계:</span>
                           <span id="subtotal" class="price" th:text="|₩${#numbers.formatInteger(totals.subtotal, 0, 'DEFAULT')}|"></span>
                        </li>
                        <li>
                           <span>배송비:</span>
                           <span id="shippingFee" th:text="|₩${#numbers.formatInteger(totals.shippingFee, 0, 'DEFAULT')}|"></span>
                        </li>
                     </ul>
                     <div class="summary-total">
                        <span>Total</span>
                        <span id="total" th:text="|₩${#numbers.formatInteger(totals.total, 0, 'DEFAULT')}|"></span>
                     </div>
                     <div class="verified-icon">
                        <img th:src="@{images/ubooks/shop/verified.png}">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <!-- Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <input class="form-control" type="text" placeholder="Enter Coupon Code">
                  </div>
                  <button type="submit" class="btn btn-main">Apply Coupon</button>
               </form>
            </div>
         </div>
      </div>
   </div>
   
<!-- 공통 하단-->
<th:block th:replace="/ubooks/common/footer :: footerFragment"></th:block>
<!-- 공통 스크립트-->
<th:block th:replace="/ubooks/common/script :: scriptFragment"></th:block>

  </body>
  </html>