.metadata
.plugins
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.log
*.log
.metadata/.log
.svn
board2/images/
application.properties
spb/images/
spb/src/main/resources/static/images/
config.json
node_modules
uploads 
.env
*.env
