<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="/ubooks/common/header :: headFragment"></th:block>
<body id="body">
<!-- Start Top Header Bar -->
<th:block th:replace="/ubooks/common/top :: headTop"></th:block>
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">내책 판매</h1>
					<ol class="breadcrumb">
						<li><a href="/index">Home</a></li>
						<li class="active">내책 판매</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products section">
	<div class="container">
		<div class="block text-center">
			<div class="row">
				<div class="col-md-7 col-md-offset-3">
					<form id="sellForm" name="sellForm" method="post" enctype="multipart/form-data">
						<div class="form-group form-inline">
							책 제목&nbsp;&nbsp;&nbsp;<input class="form-control" id="title" name="title">
						</div>
						<div class="form-group form-inline">
							판매가&nbsp;&nbsp;&nbsp;<input class="form-control" id="price" name="price">
						</div>
						<div class="form-group form-inline">
							원가&nbsp;&nbsp;&nbsp;<input class="form-control" id="listPrice" name="list_price">
						</div>
						<div class="form-group form-inline">
							출판사&nbsp;&nbsp;&nbsp;<input class="form-control" id="publisher" name="publisher">
						</div>
						<div class="form-group form-inline">
							출판연도&nbsp;&nbsp;&nbsp;<input class="form-control" id="pubYear" name="pub_year">
						</div>
						<div class="form-group form-inline">
							분야&nbsp;&nbsp;&nbsp;<input class="form-control" id="department" name="department">
						</div>
						<div class="form-group form-inline">
							적정연령&nbsp;&nbsp;&nbsp;<input class="form-control" id="minAge" name="min_age">
						</div>
						<div class="form-group form-inline">
							새책/중고&nbsp;&nbsp;&nbsp;
							<select class="form-select" aria-label="Default select example" id="newOrUsed" name="new_or_used">
								<option value="n">새책</option>
								<option value="u" selected>중고</option>
							</select>
						</div>
						<div class="form-group form-inline">
							배송비&nbsp;&nbsp;&nbsp;<input class="form-control" id="shippingFee" name="shipping_fee">
						</div>
						<div class="form-group form-inline">
							책 상태&nbsp;&nbsp;&nbsp;<input class="form-control" id="state" name="state">
						</div>
						<div class="form-group form-inline">
							사진 첨부&nbsp;&nbsp;&nbsp;<input class="form-control" type="file" id="files" name="files" multiple="multiple">
						</div>
						<div class="form-group form-inline">
							<input type="submit" class="btn btn-main text-center" value="판매 등록">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 공통 하단-->
<th:block th:replace="/ubooks/common/footer :: footerFragment"></th:block>
<!-- 공통 스크립트-->
<th:block th:replace="/ubooks/common/script :: scriptFragment"></th:block>
<script type="text/javascript" th:src="@{/js/ubooks/sell.js}"></script>

</body>
</html>
